.rdrDateInput {
	position: relative;
	height: inherit;
	input {
		padding: 12px;
		line-height: 1.5;
		font-size: 1.275rem;
		font-family: inherit;
		font-weight: 400;
		outline: none;
	}

	.rdrWarning {
		position: absolute;
		font-size: 1.275rem;
		line-height: 1.5;
		top: 0;
		right: 0.25em;
		color: #ff0000;
	}
}
